@using MudBlazor
<MudDialog>
    <DialogContent>
        @if (Company is null)
        {
            <MudProgressCircular Indeterminate="true" />
        }
        else
        {
            <h4>@Company.Name</h4>
            <MudTable Items="Company.Inventories" Bordered="true" Striped="true">
                <HeaderContent>
                    <MudTh>Product</MudTh>
                    <MudTh>Stock</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd>@context.Product.Name</MudTd>
                    <MudTd>@context.StockQuantity</MudTd>
                </RowTemplate>
            </MudTable>
            
        }
        <MudSelect T="Product" @bind-Value="selectedProduct" Label="Select Product" Dense="true">
            @foreach (var product in Products)
            {
                <MudSelectItem T="Product" Value="product">@product.Name</MudSelectItem>
            }
        </MudSelect>
    </DialogContent>

    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Close">Close</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [Parameter] public List<Product> Products { get; set; } = new(); // pass products from parent

    private Product? selectedProduct;

    [CascadingParameter] IMudDialogInstance MudDialog { get; set; } = default!;
    [Parameter] public Company Company { get; set; } = default!;

    private void Close() => MudDialog.Close();
}
