@using MudBlazor
<MudDialog>
    <DialogContent>
        @if (Company is null)
        {
            <MudProgressCircular Indeterminate="true" />
        }
        else
        {
            <h4>@Company.Name</h4>
            <MudTable Items="Company.Inventories" Bordered="true" Striped="true">
                <HeaderContent>
                    <MudTh>Product</MudTh>
                    <MudTh>Stock</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd>@context.Product.Name</MudTd>
                    <MudTd>@context.StockQuantity</MudTd>
                </RowTemplate>
            </MudTable>
        }
    </DialogContent>

    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Close">Close</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; } = default!;
    [Parameter] public Company Company { get; set; } = default!;

    private void Close() => MudDialog.Close();
}
